/server/application-tier/node_modules
/server/application-tier/package-lock.json
/server/file-tier/node_modules
/server/file-tier/package-lock.json
/external-ui-next-js/node_modules
/external-ui-next-js/package-lock.json
/external-ui-angular/node_modules
/external-ui-angular/package-lock.json