<router-outlet></router-outlet>
<main>
  <div class='flex flex-1 text-center items-center'>
    <div class="mobile-container">
      <header>
        <section class="hero-banner">
          <div class="logo-wrapper">
          </div>
          <div class="hero-image"></div>
        </section>
      </header>
      <article class="text-info">
        <h2>We're</h2>
        <h2>Coming<br />Soon</h2>
        <p>Bespoke embroidered items. Sign up for updates</p>
        <section class="email-signup">
          <form>
            <input class="email-input" type="email" required placeholder="Email Address" name="email-address" />
            <input class="email-submit" value="Go" type="submit" />
          </form>
        </section>
      </article>
    </div>
  </div>
</main>
